.box {
  display: flex;
  width: fit-content;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-left: 1px solid #0b2e1c;
  p {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    text-align: right;
  }
}
