.sliderImageConatiner {
  width: 100%;
  margin-top: 50px;
  margin-bottom: -30px;
  height: 80vh;
  direction: ltr !important;
  .react-3d-carousel
    .slider-container
    .slider-content
    .slider-single
    .slider-single-content {
    box-shadow: none;
  }
}
