$LightColor: #4eba64;
$moreLightColor: #d2e171;
$darkerColor: #121a21;
$softDarkerColor: #0b2e1c;
$whiteColor: #fef8ef;
$neutural-black: #171921;
$neutural-white: #fff;
$main-color-dark-green: #0b2e1c;
//
$padding: 20px;
$neutural-grey-1: #545971;
$main-color-floral-white: #f8f8f8;
