@import "../../styles/varible.scss";
.home {
  width: 100%;
  height: 100%;

  .sliderImage {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sliderPopularJops {
    margin-top: 20px;
    padding: $padding;
    h1 {
      color: $neutural-black;
      font-feature-settings: "liga" off;
      font-size: 36px;
      font-weight: 700;
      line-height: 32px;
      span {
        color: $LightColor;
      }
    }
    .sliderWorkContainer {
      direction: ltr !important;
      margin-top: 20px;
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .searchBar {
    margin-top: 40px;
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    .searchBarContainer {
      width: 70%;
      display: flex;
      align-items: center;
      gap: 30px;
      height: 100%;
      .searchBarinputContainer {
        width: 70%;
        height: 100%;
        border-radius: 25px;
        background: #f9f9f9;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        input {
          width: 100%;
          height: 60%;
          background-color: transparent;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
      .icon {
        background-color: $LightColor;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20%;
        border-radius: 20px;
      }
    }
  }
  .mostpopularWrokers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc($padding + 20px);
    width: 80%;
    margin: 0px auto;
    h1 {
      color: $neutural-black;
      text-align: center;
      font-feature-settings: "liga" off;
      font-size: 36px;
      font-weight: 700;
      line-height: 32px;
      span {
        color: $LightColor;
      }
    }
  }
  .requestWorks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc($padding + 20px);
    width: 80%;
    margin: 0px auto;

    h1 {
      color: $neutural-black;
      text-align: center;
      font-feature-settings: "liga" off;
      font-size: 36px;
      font-weight: 700;
      line-height: 32px;
      span {
        color: $LightColor;
      }
    }
    .requestWorkContainer {
      padding: 20px calc($padding + 50px);
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }
  }
}
