@import "../../../styles/varible.scss";
.requestWork {
  width: 960px;
  height: fit-content;
  background-color: $main-color-floral-white;
  border-radius: 70px;
  display: flex;
  padding: 50px;
  gap: 20px;
  .rightRequestWork {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      margin-top: 10px;
      color: $LightColor;
      text-align: right;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      span {
        font-weight: 700;
      }
    }
  }
  .leftRequestWork {
    flex: 3;
    .TopLeftRequestWork {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .rightTopLeftRequestWork {
        width: fit-content;
        h1 {
          color: #000;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
        }
      }
      .leftTopLeftRequestWork {
        width: fit-content;
      }
    }
    .middleLeftRequestWork {
      .icon {
        display: flex;
        align-items: center;
        gap: 20px;
        .address {
          color: #737373;
          text-align: right;
          font-feature-settings: "liga" off;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .desc {
        margin-top: 30px;
        color: #b3b3b3;
        text-align: right;
        font-size: 16px;
        font-weight: 400;
        width: 80%;
      }
    }
    .bottomLeftRequestWork {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .btn {
        width: 250px;
        height: 49px;
        border-radius: 15px;
        border: 1px solid $LightColor;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        &.left {
          background-color: $LightColor;
          color: $neutural-white;
        }
        &.right {
          color: $LightColor;
        }
      }
    }
  }
}
